
body{

    background-color: #212121;
    color:rgba(129, 126, 126, 0.911);
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-columns: auto auto auto;
    grid-gap: 1em;
  
}
* {
    box-sizing: border-box;
}


nav{
grid-row:1;

}

.panel1{
    grid-row:2;
    grid-column:1;
}
.panel2{
    grid-row:2;
    grid-column:2;
}

.panel3{
    grid-row:2;
    grid-column:3;
}
form
    {    
    margin: auto;
    width: 60%;
    border: 3px solid rgba(129, 126, 126, 0.911);
    padding: 10px;
    font-family: rockwell,roboto;
    font-style:italic; 
    font-size:20px;
    display:grid;
    grid-template-columns: auto auto;
    grid-template-rows:auto auto auto auto auto auto;
    grid-gap: 0.5em;
    }

    label{
        grid-column:1;
    }

    input {

        grid-column:2;
    }

button input label
{
    width : 150px;
    margin: 0;
    display:block;    


    -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
         -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
              box-sizing: border-box;
}